/*Created on 9-4-2018, by Shivraj Keshaowar*/


/***************************************
		body
***************************************/
body {
	font-size: 16px;
	line-height: 25px;
	background-color: #fff;
	margin-top: 50px;
	/*color: #fff;*/
}

/***************************************
		header
***************************************/
header {
	margin-bottom: 10px;
}

header ul {
	float: right;
}

header ul li {
	float: right;
}

header ul li a {
	text-decoration: none;
	color: #fff;
}


/***************************************
	custom-form-control
***************************************/
.custom-form-control {
	width: 30%;
	height: 40px;
	margin: 5px;
	margin-left: 0;
}

/***************************************
		footer
***************************************/
footer {
	padding: 10px 0;
	background-color: #101010;
	color: #9d9d9d;
	bottom: 10px;
	width: 100%;
}
